//base colors
$col-bg-app: #d6d7cf;
$col-text-main: #2d2d2d;
$col-text-muted: #7f766f;
$col-border: #e3dfd9;
//card colors
$col-card-bg: #f1ede7;
// button type a colors
$col-btn-a-deep-blue: #3e4a5b;
$col-btn-a-hover: #25303f;
$col-btn-a-text: #ffffff;
// button type b colors
$col-btn-b-red: #884d4d;
$col-btn-b-hover: #5e2e2e;
$col-btn-b-text: #ffffff;

$card-border: 1px solid #c8c6bc;
$card-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);

$outerMargin: 1rem;

// fonts:
$font-ui: "Urbanist", sans-serif;
$font-quote: "Waterfall", cursive;
