//base colors
$col-bg-app: #d6d7cf;
$col-text-main: #2d2d2d;
$col-text-muted: #7f766f;
$col-border: #e3dfd9;

//card colors
$col-card-bg: #f1ede7;

$card-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);

$outerMargin: 1rem;
